body {
    background: url('../images/burger.jpg') center center;
    text-align: center;
    color: #fff;
}

h1 {
    text-align: center;
    font-size: 100px;
    margin:.25em auto .5em;
}

.miniHeading {
    font-size: 24px;
    font-weight: bold;
}

.addBurger {
    margin-left: auto;
    margin-right: auto;
}

.moveMe {
    text-align: center;
    margin: 0 auto 3% 0;

}

.showBurger {
    text-align: center;
    font-size: 14px;
}

.devourBurger
{
    text-align: center;
    font-size: 14px;
}
p {
    padding:0;
    margin:2em 0 0 0;
    font-size:2em;
    font-weight: bold;
}

.btn {
    padding:.5em 1em;
    margin: 0;
}

